.SideBar {
  flex: 0 0 200px; 
  background-color: #FF1940;
}

.SideBar * {
  color: #FFFFFF;
}

.SideBar-info {
  padding: 10px 20px;
}

.SideBar-room {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

.SideBar-room.active {
  background-color: #800D20;
}

.SideBar-room:hover {
  text-decoration: underline;
}

