.SideBar {
  flex: 0 0 300px; 
  background-color: #FF1940;
}

.SideBar * {
  color: #FFFFFF;
}

.SideBar-info {
  padding: 20px;
  height: 150px;
  box-sizing: border-box;
}

.SideBar-username {
  margin-bottom: 0;
}

.SideBar-room {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.SideBar-room.active {
  background-color: #800D20;
}

.SideBar-room:hover {
  text-decoration: underline;
}

