.MainBody {
  flex: 1;
  overflow-x: scroll;
  background-color: #EFF1F2;
  padding: 20px;
  box-shadow: inset  0  8px 8px -8px #696868, 
              inset  0 -8px 8px -8px #696868;
}

.MainBody-name {
  color: #6A6A6A;
}

.MainBody-theirMessage {
  background-color: #FFFFFF;
  color: #333333;
  border-radius: 20px;
  padding: 10px;
}

.MainBody-myMessage {
  background-color: #FF1940;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 10px;
}

.MainBody-myMessages {
  margin-top: 50px;
}
